html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background-image:  linear-gradient(rgba(13,2,89, 0.6),rgba(17, 2, 115, 0.3)), url(https://placeimg.com/1000/768/nature);
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-attachment: fixed;
	color: #F2E422;
}
h1, h3, legend{
	font-family: 'Architects Daughter', cursive;
}
.wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	display: flex;
	flex-flow: row nowrap;
}
p, [for="abtype"], [for="comments"] {
	margin: 2rem 0 0 0;
}
section {
	flex-basis: 57%;
	margin-right: 10%;
}
aside {
	flex-basis: 33%;
}
fieldset {
	border: 1px solid rgba(242, 127, 27);
	border-radius: 10px;
	margin-bottom: 2rem;
	background-color: rgba(242, 197, 61, 0.3);
}
legend {
	font-weight: bold;
	font-size: 1.3 rem;
	margin: 1.5rem 0 1rem 0;
}
label {
	display: block;
	padding-bottom: 0.5rem;
}
textarea {
	height: 10rem;
	padding: 1rem;
}
select {
	font-size: 1rem;
}
button {
	background-color: #bb342f;
	font-size: 1rem;
	margin: 2rem 0;
	color: white;
	border: none;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
}
button:hover {
	cursor: pointer;
	background-color: white;
	color: #bb342f;
}
input:not([type="radio"]):not([type="checkbox"]), textarea, select {
	display: block;
	width: 20 rem;
	margin-bottom: 1rem;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	padding: 0 1em;
}













